## **Machine Learning - WNBA Playoffs Prediction**
This notebook will focus on the undestanding of the data. We will be using SQLite to store the data due to its scalability & the fact that it's a relational schema.

https://docs.python.org/3/library/sqlite3.html

Import sqlite3 and connect to database file

### **Imports**

In [1]:
import pandas as pd
import sqlite3
import prep_utils as pu 
import sys
import os
import seaborn as sns
import matplotlib.pyplot as plt

### **Database Connection Setup**

In [2]:
db = sqlite3.connect("db/ac.db")
db_cur = db.cursor()

[df_awards, df_coaches, df_players_teams, df_players, df_series_post, df_teams_post, df_teams] = pu.db_to_pandas(db)

In [3]:
df_new_coaches = pu.prepare_coaches(df_coaches, df_awards)
#print(df_new_coaches.to_string())
#df_new_players = pu.prepare_players(df_players,df_players_teams)

pu.group_coaches(df_new_coaches)

Dropping Attribute lgID in Coaches...
Creating attribute coach playoffs win ratio...
Creating attribute coach playoffs count...
Creating attribute num coach awards...

Coaches Null Verification:
coachID               0
year                  0
tmID                  0
stint                 0
won                   0
lost                  0
post_wins             0
post_losses           0
coach_po_win_ratio    0
playoffs_count        0
coach_awards          0
dtype: int64
     year tmID  won  lost  playoffs_count                                                                      coaches_info
0       1  CHA    8    24               0                                                             dunntr01wc,32,0.0,0,0
1       1  CLE   17    15               0                                                             hugheda99w,32,0.0,0,0
2       1  DET   14    18               0                                                             liebena01w,32,0.0,0,0
3       1  HOU   27     5               0                                                             chancva99w,32,0.0,0,0
4       1  IND    9    23               0                                                             donovan99w,32,0.0,0,0
5       1  LAS   28     4               0                                                             coopemi01w,32,0.0,0,0
6       1  MIA   13    19               0                                                             rothsro99w,32,0.0,0,0
7       1  MIN   15    17               0                                                             aglerbr99w,32,0.0,0,0
8       1  NYL   20    12               0                                                             adubari99w,32,0.0,0,0
9       1  ORL   16    16               0                                                             peckca99wc,32,0.0,0,0
10      1  PHO   20    12               0                                                             millech99w,32,0.0,0,0
11      1  POR   10    22               0                                                             hargrli99w,32,0.0,0,0
12      1  SAC   21    11               0                                                             allenso99w,32,0.0,0,0
13      1  SEA    6    26               0                                                             dunnli99wc,32,0.0,0,0
14      1  UTA   18    14               0                                                             willifr99w,32,0.0,0,0
15      1  WAS   14    18               0                                       darscna99w,20,0.0,0,0;walkeda01w,12,0.0,0,0
16      2  CHA   18    14               0                                                             donovan99w,32,0.0,0,0
17      2  CLE   22    10               1                                                             hugheda99w,32,0.5,0,1
18      2  DET   10    22               0                                                             willigr99w,32,0.0,0,0
19      2  HOU   19    13               1                                                             chancva99w,32,1.0,0,1
20      2  IND   10    22               0                                                             fortnne99w,32,0.0,0,0
21      2  LAS   28     4               1                                                             coopemi01w,32,0.5,1,1
22      2  MIA   20    12               0                                                             rothsro99w,32,0.0,0,0
23      2  MIN   12    20               0                                                             aglerbr99w,32,0.0,0,0
24      2  NYL   21    11               1                                              adubari99w,32,0.5714285714285714,0,1
25      2  ORL   13    19               1                                              peckca99wc,32,0.3333333333333333,0,1
26      2  PHO   13    19               0                                                             coopecy01w,32,0.0,0,0
27      2  POR   11    21               0                                                             hargrli99w,32,0.0,0,0
28      2  SAC   20    12               1                                       allenso99w,12,0.0,0,1;mchugma99w,20,0.0,0,0
29      2  SEA   10    22               0                                                             dunnli99wc,32,0.0,0,0
30      2  UTA   19    13               0                                       harveca99w,19,0.0,0,0;willifr99w,13,0.0,0,0
31      2  WAS   10    22               0                                                             maherto99w,32,0.0,0,0
32      3  CHA   18    14               1                                                             donovan99w,32,0.5,0,1
33      3  CLE   10    22               2                                              hugheda99w,32,0.4444444444444444,1,2
34      3  DET    9    23               0                                       laimbbi01w,22,0.0,0,0;willigr99w,10,0.0,0,0
35      3  HOU   24     8               2                                                            chancva99w,32,0.75,0,2
36      3  IND   16    16               0                                                             fortnne99w,32,0.0,0,0
37      3  LAS   25     7               2                                              coopemi01w,32,0.7272727272727273,1,2
38      3  MIA   15    17               1                                              rothsro99w,32,0.3333333333333333,0,1
39      3  MIN   10    22               0                                       aglerbr99w,19,0.0,0,0;vandehe99w,13,0.0,0,0
40      3  NYL   18    14               2                                              adubari99w,32,0.5384615384615384,0,2
41      3  ORL   16    16               0                                                             brownde01w,32,0.0,0,0
42      3  PHO   11    21               0                                       coopecy01w,10,0.0,0,0;sharpli99w,22,0.0,0,0
43      3  POR   16    16               0                                                             hargrli99w,32,0.0,0,0
44      3  SAC   14    18               1                                                             mchugma99w,32,0.6,0,1
45      3  SEA   17    15               0                                                             dunnli99wc,32,0.0,0,0
46      3  UTA   20    12               1                                                             harveca99w,32,0.0,0,1
47      3  WAS   17    15               0                                                             stanlma99w,32,0.0,0,0
48      4  CHA   18    16               0                                                             laceytr99w,34,0.0,0,0
49      4  CLE   17    17               2                                              hugheda99w,34,0.4444444444444444,1,2
50      4  CON   18    16               0                                                             thibami99w,34,0.0,0,0
51      4  DET   25     9               0                                                             laimbbi01w,34,0.0,0,0
52      4  HOU   20    14               3                                              chancva99w,34,0.6363636363636364,0,3
53      4  IND   16    18               1                                              fortnne99w,34,0.3333333333333333,0,1
54      4  LAS   24    10               3                                              coopemi01w,34,0.8235294117647058,1,3
55      4  MIN   18    16               0                                                             mcconsu01w,34,0.0,0,0
56      4  NYL   16    18               3                                              adubari99w,34,0.5238095238095238,0,3
57      4  PHO    8    26               0                                                             shumajo01w,34,0.0,0,0
58      4  SAC   19    15               1                                       mchugma99w,18,0.6,0,1;whisejo99w,16,0.0,0,0
59      4  SAS   12    22               2                        dailesh99w,12,0.0,0,0;harveca99w,22,0.2857142857142857,0,2
60      4  SEA   18    16               2                                                             donovan99w,34,0.4,0,2
61      4  WAS    9    25               1                                                             stanlma99w,34,0.6,1,1
62      5  CHA   16    18               1                                                             laceytr99w,34,0.0,0,1
63      5  CON   18    16               1                                                             thibami99w,34,0.5,0,1
64      5  DET   17    17               1                                                            laimbbi01w,34,0.75,1,1
65      5  HOU   13    21               4                                              chancva99w,34,0.5714285714285714,0,4
66      5  IND   15    19               0                                                             wintebr01w,34,0.0,0,0
67      5  LAS   36    12               4  coopemi01w,20,0.7307692307692307,1,4;thompka99w,14,0.0,0,0;weisery99w,14,0.0,0,0
68      5  MIN   18    16               1                                              mcconsu01w,34,0.3333333333333333,0,1
69      5  NYL   18    16               3                        adubari99w,16,0.5238095238095238,0,3;coylepa99w,18,0.0,0,0
70      5  PHO   17    17               0                                                             grafca99wc,34,0.0,0,0
71      5  SAC   18    16               1                                                             whisejo99w,34,0.5,0,1
72      5  SAS    9    25               0                                        brownde01w,26,0.0,0,0;dailesh99w,8,0.0,0,0
73      5  SEA   20    14               2                                                             donovan99w,34,0.4,0,2
74      5  WAS   17    17               0                                                             adamsmi01w,34,0.0,0,0
75      6  CHA    6    28               1                                       boguemu01w,10,0.0,0,0;laceytr99w,24,0.0,0,1
76      6  CON   26     8               2                                              thibami99w,34,0.5833333333333334,0,2
77      6  DET   16    18               2                                              laimbbi01w,34,0.6363636363636364,1,2
78      6  HOU   19    15               4                                              chancva99w,34,0.5714285714285714,0,4
79      6  IND   21    13               0                                                             wintebr01w,34,0.0,0,0
80      6  LAS   17    17               0                                        bibbyhe01w,28,0.0,0,0;bryanjo01w,6,0.0,0,0
81      6  MIN   14    20               2                                                             mcconsu01w,34,0.2,1,2
82      6  NYL   18    16               1                                                             coylepa99w,34,0.4,0,1
83      6  PHO   16    18               0                                                             grafca99wc,34,0.0,0,0
84      6  SAC   25     9               2                                                             whisejo99w,34,0.5,0,2
85      6  SAS    7    27               3                                              hugheda99w,34,0.4166666666666667,1,3
86      6  SEA   20    14               3                                              donovan99w,34,0.5555555555555556,0,3
87      6  WAS   16    18               3                                              adubari99w,34,0.5238095238095238,0,3
88      7  CHA   11    23               0                                                             boguemu01w,34,0.0,0,0
89      7  CHI    5    29               0                                                             cowenda01w,34,0.0,0,0
90      7  CON   26     8               3                                                             thibami99w,34,0.6,0,3
91      7  DET   23    11               3                                              laimbbi01w,34,0.5384615384615384,1,3
92      7  HOU   18    16               5                                              chancva99w,34,0.5263157894736842,0,5
93      7  IND   21    13               1                                                             wintebr01w,34,0.5,0,1
94      7  LAS   25     9               1                                                             bryanjo01w,34,0.0,0,1
95      7  MIN   10    24               2                                       jenkica99w,11,0.0,0,0;mcconsu01w,23,0.2,1,2
96      7  NYL   11    23               2                                              coylepa99w,34,0.2857142857142857,0,2
97      7  PHO   18    16               0                                                             westhpa99w,34,0.0,0,0
98      7  SAC   21    13               3                                                            whisejo99w,34,0.65,1,3
99      7  SAS   13    21               3                                              hugheda99w,34,0.4166666666666667,1,3
100     7  SEA   18    16               4                                              donovan99w,34,0.5238095238095238,0,4
101     7  WAS   18    16               3                                              adubari99w,34,0.5238095238095238,0,3
102     8  CHI   14    20               0                                                             overtbo99w,34,0.0,0,0
103     8  CON   18    16               4                                                             thibami99w,34,0.6,1,4
104     8  DET   24    10               4                                              laimbbi01w,34,0.6086956521739131,1,4
105     8  HOU   13    21               1                                              thompka99w,34,0.3333333333333333,0,1
106     8  IND   21    13               2                                              wintebr01w,34,0.3333333333333333,0,2
107     8  LAS   10    24               4                                              coopemi01w,34,0.7307692307692307,1,4
108     8  MIN   10    24               0                                                             zierddo99w,34,0.0,0,0
109     8  NYL   16    18               2                                              coylepa99w,34,0.2857142857142857,0,2
110     8  PHO   23    11               0                                                             westhpa99w,34,0.0,0,0
111     8  SAC   19    15               0                                                             bouceje01w,34,0.0,0,0
112     8  SAS   20    14               3                                              hugheda99w,34,0.4166666666666667,1,3
113     8  SEA   17    17               5                                                             donovan99w,34,0.5,0,5
114     8  WAS   16    18               4                         adubari99w,4,0.4782608695652174,0,4;rollitr01w,30,0.0,0,0
115     9  ATL    4    30               0                                                             meadoma99w,34,0.0,0,0
116     9  CHI   12    22               0                                                              keyst99wc,34,0.0,0,0
117     9  CON   21    13               5                                              thibami99w,34,0.5714285714285714,1,5
118     9  DET   22    12               5                                              laimbbi01w,34,0.5882352941176471,1,5
119     9  HOU   17    17               1                                              thompka99w,34,0.3333333333333333,0,1
120     9  IND   17    17               1                                                             dunnli99wc,34,0.0,0,1
121     9  LAS   20    14               4                                              coopemi01w,34,0.7307692307692307,1,4
122     9  MIN   16    18               0                                                             zierddo99w,34,0.0,0,0
123     9  NYL   19    15               3                                                             coylepa99w,34,0.3,0,3
124     9  PHO   16    18               0                                                             gaineco01w,34,0.0,0,0
125     9  SAC   18    16               1                                              bouceje01w,34,0.3333333333333333,0,1
126     9  SAS   24    10               4                                              hugheda99w,34,0.4117647058823529,2,4
127     9  SEA   22    12               0                                                             aglerbr99w,34,0.0,0,0
128     9  WAS   10    24               0                                       kenlaje99w,12,0.0,0,0;rollitr01w,22,0.0,0,0
129    10  ATL   18    16               0                                                             meadoma99w,34,0.0,0,0
130    10  CHI   16    18               0                                                              keyst99wc,34,0.0,0,0
131    10  CON   16    18               6                                              thibami99w,34,0.5483870967741935,2,6
132    10  DET   18    16               6                          laimbbi01w,3,0.627906976744186,1,6;mahorri01w,31,0.0,0,0
133    10  IND   22    12               2                                                             dunnli99wc,34,0.2,0,2
134    10  LAS   18    16               5                                                          coopemi01w,34,0.6875,1,5
135    10  MIN   14    20               0                                                             gilloje01w,34,0.0,0,0
136    10  NYL   13    21              10                     coylepa99w,17,0.375,0,4;donovan99w,17,0.46153846153846156,0,6
137    10  PHO   23    11               0                                                             gaineco01w,34,0.0,0,0
138    10  SAC   12    22               6         bouceje01w,13,0.3333333333333333,0,2;whisejo99w,21,0.6551724137931034,1,4
139    10  SAS   15    19               5                                              hugheda99w,34,0.4230769230769231,2,5
140    10  SEA   20    14               1                                              aglerbr99w,34,0.3333333333333333,0,1
141    10  WAS   16    18               0                                                             plankju99w,34,0.0,0,0

In [4]:
pu.prepare_teams(df_teams)

Dropping divID in Teams...
Dropping ldID in Teams...
Dropping seeded in Teams...
Dropping tmORB, tmDRB, tmTRB, opptmORB, opptmDRB, opptmTRB in Teams...

In [5]:
pu.best_colleges(df_players_teams,df_teams,df_players)

                    college  TotalPlayoffAppearances  CollegeRank
88                Tennessee                       21            1
17              Connecticut                       17            2
31                  Georgia                       15            3
86                 Stanford                       12            4
48           Louisiana Tech                       11            5
..                      ...                      ...          ...
80               Seton Hall                        1           14
25    Florida International                        1           14
82     Southern Mississippi                        1           14
50                    Maine                        1           14
0   Academy of Sport Moscow                        1           14

[113 rows x 3 columns]

### **Data Preparation**
We will preparate the data in each table, by cleaning & formatting it so that it can be easily used by the machine learning models afterwards.